/Makefile*
/install
/config.pri
PIXIEmsg*
debug/*
release/*
cmd/debug/*
cmd/release/*
cmd/Makefile*
gui/debug/*
gui/release/*
gui/Makefile*
engine/Makefile*
ui/*
qpx
qpxd
cpx
cpxd
*.app
*.desktop
*.user
*.log
/ui_*.h
.*
!.gitignore
