[submodule "src/external/json"]
	path = src/external/json
	url = git@github.com:nlohmann/json.git
[submodule "src/h5/h5cc"]
	path = src/h5/h5cc
	url = https://github.com/ess-dmsc/h5cc.git
[submodule "src/consumers/xylib"]
	path = src/consumers/xylib
	url = https://github.com/wojdyr/xylib.git
